body{
  font-family: 'Kalam', cursive;
}
.section {
  padding:8% 0;
  border-bottom: solid 2px darkgray;
}
#navbar-top, #title {
  font-family: 'Kalam', cursive;

}

#about{
  background: gray  ;

}
#services{
  background: Moccasin;
}
#gallery{
  background: gray  ;
  padding-top: 5% !important;
}
#contact{
  background: Moccasin  ;
}
#map{
  background: gray;
}

nav.navbar.shrink {
  min-height: 35px;
}
.up{
  position:fixed;
  right: 45px;
  bottom:60px;
  display: none;
  opacity: 0.6 ;
}

}
.card-block{
  background: lightgray;
}
.card{
  border:none;
}

nav{
  background: black;
  border-bottom: solid 1px white;
  transition:0.8s;
  padding-right: 20px !important;
  /* keeps navbar in position while showing modalBoxes */
}


.jumbotron{
  background-image: url(img/2000_5a255333b7f02.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.jumbotron .container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#googleMap{
  width:100%;
  height: 30em;
}
.navbar-shrink{
  min-height: 35px;
  font-size: 19px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.navbar-shrink img{
width:189px;
height:80px;
}
nav img{
  width:151px;
  height:64px;
  transition:0.8s;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.modal-open {
  overflow-y: auto;
  padding:0 !important;
}

.carousel-control-prev: hover{
  background-color: red;
}

.hiddAbout {
  visibility: hidden;
  opacity: 0;
  transition:visibility 1.5s linear,opacity 1.5s linear;
}
.hiddServices{
  visibility: hidden;
  opacity: 0;
  transition:visibility 1.5s linear,opacity 1.5s linear;
}
.hiddGallery{
  visibility: hidden;
  opacity: 0;
  transition:visibility 1.5s linear,opacity 1.5s linear;
}
.hiddContact{
  visibility: hidden;
  opacity: 0;
  transition:visibility 1.5s linear,opacity 1.5s linear;
}
.hiddMap{
  visibility: hidden;
  opacity: 0;
  transition:visibility 1.5s linear,opacity 1.5s linear;
}
.hiddHome{
  visibility: hidden;
  opacity: 0;
  transition:visibility 1.5s linear,opacity 1.5s linear;
}

.visible{
  visibility:visible;
    opacity:1;
}
.home{
  transition:visibility 1.5s linear,opacity 1.5s linear;
}


.navbar-toggler {
  margin-right: 0px !important;
}

h1,h2,h3,h4{
  font-family: 'Patrick Hand', cursive;
}
