.section {
  padding: 150px 0;
}
#services{
  background: lightgray;
}
.card-block{
  background: lightgray;
}
.card{
  border:none;
}

nav{
  background: black;
  border-bottom: solid 1px white;
   transition: top 0.3s;
}

.modal{
  opacity: 0.9;
  background-color:gray;
}
.jumbotron{
  background-image: url(img/2000_5a255333b7f02.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.jumbotron .container{
  position:absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
}
